body {
    background-color: black;
    color: white;
    font-family: 'Audiowide', sans-serif;
}
h1 {
    text-align: center;
    color: lightblue;
    font-size: 10vmin;
    animation: textcolor 10s infinite;
}
@keyframes textcolor {
    0% {
        color: lightblue;
    }
    25% {
        color: aquamarine;
    }
    50% {
        color: white;
    }
    75% {
        color: magenta;
    }
    100% {
        color: lightblue;
    }
}
@-webkit-keyframes textcolor {
    0% {
        color: lightblue;
    }
    25% {
        color: aquamarine;
    }
    50% {
        color: white;
    }
    75% {
        color: magenta;
    }
    100% {
        color: lightblue;
    }
}
i {
    color: #ffff88;
}
.slogan {
    text-align: center;
    color: #ffff88;
    font-size: 3vmin;
    padding: 0;
    margin: 0;
    display: block;
}